* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #300909;
}

span, a, button {
    font-family: "Raleway-500", sans-serif;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;         /* left and right items will be pushed to either edges and the item in between will be evenly spaced between those two */
    align-items: center;
    padding: 30px 10%;
}

.name {
    font-size: 28px;
    padding-right: 45%;
}

.button-home {
    padding-right: 10%;
}
.button-products {
    padding-right: 10%;
}
.button-contact {
    padding-right: 0;
}